In [7]:
import pandas as pd

In [12]:
df = pd.read_csv('./sample_info_1122.csv')
df.head()

,project_id,GEO,experiment_id,species,species_id,sample_id,sample_name
0,PRO000000308,E-MTAB-11821,EPT000000327,Mus musculus,10090,SAM000184237,Sample_1
1,PRO000000308,E-MTAB-11821,EPT000000327,Mus musculus,10090,SAM000184238,Sample_2
2,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184239,4834STDY7002875
3,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184240,4834STDY7002876
4,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184241,4834STDY7002877

In [13]:
df_ = pd.read_csv('./omics_liver_new_1122_2_csv.csv')
df_['mark'] = df_['project_id'] + '_' + df_['experiment_id'] + '_' + df_['omics_id']
df_.head()

,project_id,sample_name,sample_id,omics_id,experiment_id,species,description,organ,mark
0,PRO000000308,Sample_1,SAM000184237,SCT000000287,EPT000000327,Mus musculus,NaN,liver,PRO000000308_EPT000000327_SCT000000287
1,PRO000000308,Sample_2,SAM000184238,SCT000000287,EPT000000327,Mus musculus,NaN,liver,PRO000000308_EPT000000327_SCT000000287
2,PRO000000309,4834STDY7002875,SAM000184239,SCT000000288,EPT000000328,Homo sapiens,NaN,kidney,PRO000000309_EPT000000328_SCT000000288
3,PRO000000309,4834STDY7002876,SAM000184240,SCT000000288,EPT000000328,Homo sapiens,NaN,kidney,PRO000000309_EPT000000328_SCT000000288
4,PRO000000309,4834STDY7002877,SAM000184241,SCT000000288,EPT000000328,Homo sapiens,NaN,liver,PRO000000309_EPT000000328_SCT000000288

In [16]:
a_ = dict(zip(df_['sample_id'],df_['mark']))
df['mark'] = df['sample_id'].map(a_)
df

,project_id,GEO,experiment_id,species,species_id,sample_id,sample_name,mark
0,PRO000000308,E-MTAB-11821,EPT000000327,Mus musculus,10090,SAM000184237,Sample_1,PRO000000308_EPT000000327_SCT000000287
1,PRO000000308,E-MTAB-11821,EPT000000327,Mus musculus,10090,SAM000184238,Sample_2,PRO000000308_EPT000000327_SCT000000287
2,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184239,4834STDY7002875,PRO000000309_EPT000000328_SCT000000288
3,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184240,4834STDY7002876,PRO000000309_EPT000000328_SCT000000288
4,PRO000000309,E-MTAB-74071,EPT000000328,Homo sapiens,9606,SAM000184241,4834STDY7002877,PRO000000309_EPT000000328_SCT000000288
...,...,...,...,...,...,...,...,...
305,PRO000000315,GSE151530,EPT000000338,Homo sapiens,9606,SAM000184542,S042,PRO000000315_EPT000000338_SCT000000299
306,PRO000000315,GSE151530,EPT000000338,Homo sapiens,9606,SAM000184543,S043,PRO000000315_EPT000000338_SCT000000299
307,PRO000000315,GSE151530,EPT000000338,Homo sapiens,9606,SAM000184544,S044,PRO000000315_EPT000000338_SCT000000299
308,PRO000000315,GSE151530,EPT000000338,Homo sapiens,9606,SAM000184545,S045,PRO000000315_EPT000000338_SCT000000299
309,PRO000000315,GSE151530,EPT000000338,Homo sapiens,9606,SAM000184546,S046,PRO000000315_EPT000000338_SCT000000299

In [17]:
df.to_csv('./fsafsgfs.csv',index=False,encoding='utf_8_sig')

In [ ]:
info_dict = {'GSM4339769':'BALF, C141 (scRNA-seq)','GSM4339770':'BALF, C142 (scRNA-seq)','GSM4339771':'BALF, C143 (scRNA-seq)','GSM4339772':'BALF, C144 (scRNA-seq)','GSM4339773':'BALF, C145 (scRNA-seq)','GSM4339774':'BALF, C146 (scRNA-seq)','GSM4385990':'BALF, C141 (TCR-seq)','GSM4385991':'BALF, C142 (TCR-seq)','GSM4385992':'BALF, C143 (TCR-seq)','GSM4385993':'BALF, C144 (TCR-seq)','GSM4385994':'BALF, C145 (TCR-seq)','GSM4385995':'BALF, C146 (TCR-seq)','GSM4475048':'C51 (scRNA-seq)','GSM4475049':'C52 (scRNA-seq)','GSM4475050':'C100 (scRNA-seq)','GSM4475051':'C148 (scRNA-seq)','GSM4475052':'C149 (scRNA-seq)','GSM4475053':'C152 (scRNA-seq)','GSM4475054':'C148 (TCR-seq)','GSM4475055':'C149 (TCR-seq)','GSM4475056':'C152 (TCR-seq)'}